[tool.poetry]
name = "abilian-devtools"
version = "0.5.16"
description = "A curated set of dependencies for quality software development"
authors = ["Stefane Fermigier <sf@abilian.com>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "abilian_devtools", from = "src" }]
repository = "https://github.com/abilian/abilian-devtools"
keywords = [
  "qa",
  "testing",
  "linting",
  "security",
  "supply_chain"
]

[tool.poetry.scripts]
adt = "abilian_devtools.cli:main"

[tool.poetry.dependencies]
# python = ">=3.8.1,<4.0"
python = "^3.9"
cleez = "^0.1.11"

# Git integration
pre-commit = "^3.6.0"

# Testing
pytest = ">=7"
pytest-cov = "^4.1.0"
profilehooks = "^1.12.0"
pytest-xdist = "^3.5.0"
pytest-random-order = "^1.1.1"
# pytest-testmon = "^1.2.0"
nox = "^2023.4.22"

# Linting
ruff = "^0.1.11"
flake8 = "^7.0.0"
# + Plugins: see https://github.com/DmytroLitvinov/awesome-flake8-extensions
flake8-bandit = "^4.1.1"
flake8-breakpoint = "^1.1.0"
flake8-cognitive-complexity = "^0.1.0"
flake8-datetimez = "^20.10.0"
flake8-functions = "^0.0.8"
flake8-if-expr = "^1.0.4"
flake8-isort = "^6.1.1"
flake8-logging-format = "^0.9.0"
flake8-mutable = "^1.2.0"
flake8-super = "^0.1.3"
flake8-super-call = "^1.0.0"
flake8-tidy-imports = "^4.10.0"
flake8-tuple = "^0.4.1"

# Removing these as they are made redundant by Ruff
# (See: https://notes.crmarsh.com/ruff-the-first-200-releases)
# flake8-bugbear = "*"
# flake8-comprehensions = "*"
# flake8-simplify = "*"
# pep8-naming = "*"

# Typing
flake8-pep3101 = "^2.1.0"
flake8-no-pep420 = "^2.7.0"
flake8-pep585 = "^0.1.7"
flake8-pep604 = "^1.1.0"

# Testing
flake8-assertive = "^2.1.0"
flake8-pytest = "^1.4"
flake8-pytest-style = "^1.7.2"
# Useful but later:
# flake8-requirements = "*"
# flake8-return = "*"
# flake8-expression-complexity = "*"
# flake8-print = "*"
# flake8-use-pathlib = "*"
# tryceratops = "^0.6"
# flake8-pie = "*"
# dlint = "*" <- not compatible w/ flake8 6+
# hacking = "*" <- not compatible w/ flake8 6+

# Formatting
isort = "^5.13.2"
black = "^24.1.0"
docformatter = "^1.7.5"
# Later:
# Typechecking
mypy = "^1.8.0"
pyright = "^1.1.348"

# Dependencies & supply chain
pip = "^23.3.2"
pip-audit = "^2.7.0"
reuse = "^3.0.1"
vulture = "^2.11"
# Safety seems unmaintained and wants packaging<=23
# safety = "*"
# Deptry doesn't like Python 3.12
# deptry = "*"

# Invoke
invoke = "^2.2.0"

# We're using tomkit for its roundtrip feature.
tomlkit = "^0.12.1"

[tool.poetry.group.dev.dependencies]
scriv = "^1.5.1"
types-invoke = "^2.0.0.10"
snoop = "^0.4.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.deptry]
exclude = [".nox", ".tox", "tests", "noxfile.py"]
ignore_missing = []
ignore_transitive = []
ignore_obsolete = [
  "black",
  "deptry",
  "docformatter",
  "flake8",
  "flake8-assertive",
  "flake8-bandit",
  "flake8-breakpoint",
  "flake8-bugbear",
  "flake8-cognitive-complexity",
  "flake8-comprehensions",
  "flake8-datetimez",
  "flake8-functions",
  "flake8-if-expr",
  "flake8-isort",
  "flake8-logging-format",
  "flake8-mutable",
  "flake8-no-pep420",
  "flake8-pep3101",
  "flake8-pep585",
  "flake8-pep604",
  "flake8-pytest",
  "flake8-pytest-style",
  "flake8-simplify",
  "flake8-super",
  "flake8-super-call",
  "flake8-tidy-imports",
  "flake8-tuple",
  "isort",
  "mypy",
  "nox",
  "pep8-naming",
  "pip",
  "pip-audit",
  "pre-commit",
  "profilehooks",
  "pyright",
  "pytest",
  "pytest-cov",
  "pytest-random-order",
  "pytest-xdist",
  "reuse",
  "ruff",
  # "safety",
  "vulture",
]

[tool.scriv]
version = "literal: pyproject.toml: tool.poetry.version"
format = "md"
categories = [
  "Removed",
  "Added",
  "Changed",
  "Deprecated",
  "Fixed",
  "Security",
  "Doc",
]

[tool.pyright]

[tool.bandit]
skips = [
  "B404", # blacklist
  "B603", # subprocess_without_shell_equals_true
]
