exclude = [
    "src/abilian_devtools/etc",
]

lint.select = ["ALL"]

lint.extend-ignore = [
    # False positives
    "COM812", # 	[*] missing-trailing-comma
    "RET504", # 	[ ] unnecessary-assign
    "PLR2004", #	magic-value-comparison
    #
    "ANN", # 	[ ] missing-return-type-undocumented-public-function
    "D1", #   	[ ] undocumented-public-module
    "D2",
    "D4", #   	[ ] non-imperative-mood
    "T201", #   	[ ] print
    "CPY001", # 	[ ] missing-copyright-notice
    "PLR6301", #	[ ] no-self-use
    "FIX002", # 	[ ] line-contains-todo
    "PLW1514", #	[ ] unspecified-encoding
    "TD002", #  	[ ] missing-todo-author
    "TD003", #  	[ ] missing-todo-link
    "TID252", # 	[ ] relative-imports
    "RUF012", # 	[ ] mutable-class-default
    "ERA001", # 	[ ] commented-out-code
    "FBT002", # 	[ ] boolean-default-value-positional-argument
    "A001", #   	[ ] builtin-variable-shadowing
    "A004", #   	[ ] builtin-import-shadowing
    "ARG001", # 	[ ] unused-function-argument
    "ARG002", # 	[ ] unused-method-argument
    "EM102", #  	[ ] f-string-in-exception
    "PGH003", # 	[ ] blanket-type-ignore
    "S404", #   	[ ] suspicious-subprocess-import
    "S603", #   	[ ] subprocess-without-shell-equals-true
    "TD006", #  	[*] invalid-todo-capitaliz
    "TRY003",
    "S101", # Use of "assert"
    "BLE001", # 	blind-except
    "C901", #   	complex-structure
    "E501", #   	line-too-long
    "PLR0913", #	too-many-arguments
    "DTZ005", # 	call-datetime-now-without-tzinfo
    "PERF203", #	try-except-in-loop
    "PERF401", #	manual-list-comprehension
    "PLR0912", #	too-many-branches
]

[lint.per-file-ignores]
"tests/**/*.py" = [
    "ANN",     # Missing type annotations
    "PLR2004", #	magic-value-comparison
    "E501", #   	line-too-long
    "INP001", # 	implicit-namespace-package
    "PLW2901", #	redefined-loop-name
    "DTZ005", # 	call-datetime-now-without-tzinfo
    "PTH109", # 	os-getcwd
    "S108", #   	hardcoded-temp-file
]
